*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(253, 247, 238);
}


/* ----------------------------------------------------Header */
.logo{
    width: 120px;
}

.listContainer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
}

.listContainer > ul {
    display: flex;
    align-items: center;
}

.listContainer > ul > li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
    margin: 10px;
}

.listContainer a{
    color: black;
    text-decoration-line: none;
}

/* ----------------------------------------------------Body */
.card{
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 260px;
    height: 340px;
}

.card img{
    height: 180px;
    width: 100%;
    /* object-fit: fill; */
}

.card h2{
    text-decoration: none;
}

.resturantList{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}


/* ++++++++ Search Bar ++++++++++++ */
.searchBarContainer{
    display: flex;
    justify-content: center;
}

.searchBarContainer input{
    margin: 3px 10px 0px 0px;
}



/* +++++++++++++Shimmer Effect++++++++++++ */
.shimmerCard{
    width: 260px;
    height: 300px;
    background-color: rgb(227, 223, 223);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.shimmerImage{
    background-color: rgb(243, 242, 242);
    width: auto;
    height: 170px;
}

.shimmerParaContainer{
    position: relative;
    margin-top: 20px;
    width: auto;
    height: auto;
}

.shimmerPara{
    width: auto;
    height: 25px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}


/* +++++++++ MENU ITEMS +++++++++ */
.itemImageInBg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    z-index: -10;
    top: 0;
    position: fixed;
    filter: blur(4px) saturate(1.2) contrast(80%);
}

.resturantMenuMainContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.resturantMainDetailContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 20px;
    width: 800px;
    height: 550px;
}

.resturantMainDetailContainer img{
    margin: 5px;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid black;
    margin-right: 20px;
}

.resturantMenuItemsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menuItems{
    width:400px;
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.795);
    border-radius: 10px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.menuItems Img{
    display: flex;
    align-items: center;
    border: 3px solid rgb(29, 29, 29);
    height: 240px;
    margin: 15px;
    border-radius: 12px;
    filter: drop-shadow(8px 8px 10px rgb(187, 187, 187));
    position: relative;
    top: 0px;
}

.menuItemsContent{
    padding: 0px 15px 15px;
}

/* ----------------------------------------------------Error */
.error{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.error h1{
    margin: 5px;
    font-size: 42px;
}

.error h2{
    margin: 5px;
    font-size: 42px;
}




/* ----------------------------------------------------User Card */
.userCard{
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
}

/* ----------------------------------------------------Footer */