*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(253, 247, 238);
}


/* ----------------------------------------------------Header */
.logo{
    width: 120px;
}

.listContainer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
}

.listContainer > ul {
    display: flex;
    align-items: center;
}

.listContainer > ul > li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
    margin: 10px;
}

.listContainer a{
    color: black;
    text-decoration-line: none;
}

/* ----------------------------------------------------Body */
.card{
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 260px;
}

.card img{
    width: 100%;
    height: 180px;
}

.resturantList{
    display: flex;
    flex-wrap: wrap;
}

.shimmerCard{
    width: 260px;
    height: 300px;
    background-color: rgb(227, 223, 223);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.shimmerImage{
    background-color: rgb(243, 242, 242);
    width: auto;
    height: 170px;
}

.shimmerParaContainer{
    position: relative;
    margin-top: 20px;
    width: auto;
    height: auto;
}

.shimmerPara{
    width: auto;
    height: 25px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}


/* ----------------------------------------------------Footer */